.map-search {
    position: relative;
    top: 9px;
    margin: 0 auto;
    margin-bottom: -50px;
    z-index: 2;
    width: 170px; // Width without geolocation button, which js reveals
    padding: 5px;
    background: #333;
    background: rgba(51, 51, 51, 0.8);

    &.map-search--with-geolocation {
        width: 195px;
    }

    // Input gets bigger on bigger screens
    @media screen and (min-width: 768px) {
        width: 325px; // Width without geolocation button, which js reveals
        margin-bottom: -70px;
        padding: 7px;

        &.map-search--with-geolocation {
            width: 346px;
        }
    }
    .map-search__label {
        display: none;
        visibility: hidden;
    }
    .map-search__form {
        position: relative;
        border: 1px solid #333;
        background-color: #FFF;
        .map-search__form__input {
            display: inline;
            border: none;
            // Mobile-first width, as small as it can be to make sure it fits
            // If you tweak the padding here, adjust the widths
            // margin-bottom of .map-search to and the top: on
            // .map-search__results
            width: 116px;
            padding: 6px;
            // Input gets bigger on bigger screens
            @media screen and (min-width: 768px) {
                width: 250px;
                padding: 16px;
            }
        }
        .map-search__form__buttons {
            display: inline;
            .map-search__form__buttons__geolocation,
            .map-search__form__buttons__submit {
                display: inline-block;
                cursor: pointer;
                width: 28px;
                height: 27px;
                text-indent: -9999px;
            }
            .map-search__form__buttons__submit {
                background: url(http://www.britishmuseum.org/images/v2/defaults/searchIcon.gif) no-repeat scroll 4px -48px;
                width: 28px;
                height: 27px;
                text-indent: -9999px;
                &:hover,
                &:focus,
                &:active {
                    background-position: 4px -74px;
                }
            }
            .map-search__form__buttons__geolocation {
                background: url(../img/geolocation.png) no-repeat scroll;
                &:hover,
                &:focus,
                &:active {
                    background-image: url(../img/geolocation_hover.png);
                }
                &.loading {
                    background-image: url(../img/loading.gif);
                }
            }
        }
    }

    .map-search__results {
        display: none;
        position: absolute;
        top: 44px;
        left: 0px;
        background: #333;
        background: rgba(51, 51, 51, 0.8);
        color: #CCC;
        width: 100%;
        // Because input gets bigger on bigger screens, we need to move further
        @media screen and (min-width: 768px) {
            top: 70px;
        }
        ul {
            margin-bottom: 0;
            li {
                margin-bottom: 0;
                a, span {
                    display: block;
                    border-bottom: 1px solid #333;
                    padding: 1em;
                }
                a:hover {
                    background: lighten(#333, 10%);
                    background: rgba(51, 51, 51, 0.9);
                    color: #FFF;
                }
                a.norse {
                    background: url(../img/helmet_inverted.png) no-repeat 14px 5px;
                    padding-left: 60px;
                    &:hover {
                        background-image: url(../img/helmet_inverted_hover.png);
                    }
                }
                &:last-child {
                    a {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.map-canvas-wrapper {
    // Mobile first styles to allow some extra space to be able to scroll past
    // the map
    margin-left: 1em;
    margin-right: 3em; // containing div already has a left margin
    @media screen and (min-width: 768px) {
        margin: 0;
    }
}
#map-canvas {
    height: 400px;
    width: 100%;
    @media screen and (min-width: 768px) {
        height: 650px;
    }
    img {
        // These are necessary to undo some of the styling in the British
        // Museum's mobile stylesheets
        display: inline;
        max-width: none;
    }
}

.map-marker {
    font-family:arial;

    a {
        color: #000;
        &:hover {
            color: #c69261;            
            i.link-arrow{
                background-color:#fff;
            }
        }
        &.highlight:hover{
            color:#000;
            i.link-arrow{
                background-color:#fff;
            }
        }
    }

    p, ul, li {      
        color:#666;
    }

    h1,h2,h3,h4{
        color:#000;
    }

    .map-marker__header {
        margin-bottom: 7px;
    }

    .map-marker__elements__item {
        margin-bottom: 0;
        .map-marker__elements__item__headword,
        .map-marker__elements__item__hword {
            font-weight: bold;
        }
    }

    .map-marker__social-buttons {
        li {
            display: inline;
            margin-right: 10px;
            width: 24px;
            height: 24px;
            img {
                width: 24px;
                height: 24px;
                margin-bottom: 0;
            }
        }
    }
}
