.map-search {
    position: relative;
    margin-bottom: 1em;

    .map-search__label {
        display: none;
        visibility: hidden;
    }
    // Copied from the BM's "search" at the top of the pae
    .map-search__input__wrapper {
        border: 1px solid #333;
        display: inline-block;
        background-color: #1d1d1d;
        .map-search__input {
            color: #CCC;
            background-color: #1d1d1d;
            border: none;
        }
        .map-search__button {
            height: 27px;
            width: 28px;
            // This should be switched back to a relative url if this is
            // combined into the main CSS
            background: url("http://www.britishmuseum.org/images/v2/defaults/searchIcon.gif") no-repeat scroll 4px -125px #1d1d1d;
            cursor: pointer;
            text-indent: -9000px;
            &:hover, &:focus {
                background-position: 4px -99px;
            }
        }
    }
    .map-search__results {
        display: none;
        position: absolute;
        top: 31px;
        z-index: 9999;
        background-color: #1d1d1d;
        color: #CCC;
        border: 1px solid #333;
        border-top: none;
        width: 316px; // Same as the text input for now
        ul {
            margin-bottom: 0;
            li {
                margin-bottom: 0;
                a {
                    display: block;
                    border-bottom: 1px solid #333;
                    padding: 1em;
                    margin-bottom: 1em;
                    cursor: pointer;
                    &:hover {
                        background-color: lighten(#1d1d1d, 10%);
                        color: #FFF;
                    }
                }
                &:last-child {
                    a {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

#map-canvas {
    width: 100%;
    height: 650px;
}
