.geolocation {
    width: 100%;
    p {
        text-align: center;
    }
    .geolocation__button {
        color: #CCC;
        padding: 11px 11px 11px 14px;
        cursor: pointer;
        font-size: 1.2em;
        background-color: #1d1d1d;
        border: 1px solid #333;
        // TODO - this should probably have an arrow and perhaps be in the
        // defined color?
        &:hover, &:focus {
            color: #FFF;
            background-color: lighten(#1d1d1d, 10%);
        }
    }
}

.map-search {
    position: relative;
    margin-bottom: 1em;
    z-index: 2;

    .map-search__label {
        display: none;
        visibility: hidden;
    }

    // Mobile-first styling for the search form. Things should be full-width
    // when on small screens, and then float up onto one line on bigger ones
    .map-search__form {
        position: relative;
        overflow: hidden;
        border: 1px solid #333;
        background-color: #1d1d1d;
        height: 91px;
        .map-search__form__input-wrapper {
            .map-search__form__input {
                position: absolute;
                top: 0px;
                left: 0px;
                border: none;
                border-bottom: 1px solid #333;
                width: 100%;
                color: #CCC;
                background-color: #1d1d1d;
                padding: 15px 6px 15px 14px;
            }
        }
        .map-search__form__button {
            position: absolute;
            top: 46px;
            left: 0px;
            width: 100%;
            color: #CCC;
            font-size: 1.8em;
            padding: 11px 11px 11px 14px;
            cursor: pointer;
            background-color: #1d1d1d;
            // TODO - this should probably have an arrow and perhaps be in the
            // defined color?
            &:hover, &:focus {
                color: #FFF;
                background-color: lighten(#1d1d1d, 10%);
            }
        }
    }
    @media only screen and (min-width: 48em) {
        .map-search__form {
            height: auto;
            .map-search__form__input-wrapper {
                overflow: hidden;
                .map-search__form__input {
                    position: relative;
                    border-bottom: none;
                }
            }
            .map-search__form__button {
                position: relative;
                float: right;
                top: auto;
                left: auto;
                width: auto;
                border-left: 1px solid #333;
            }
        }
    }

    .map-search__results {
        display: none;
        position: absolute;
        background-color: #1d1d1d;
        color: #CCC;
        width: 100%;
        ul {
            margin-bottom: 0;
            li {
                margin-bottom: 0;
                a, span {
                    display: block;
                    border-bottom: 1px solid #333;
                    padding: 1em;
                }
                a:hover {
                    background-color: lighten(#1d1d1d, 10%);
                    color: #FFF;
                }
                a.norse {
                    background: url(../img/helmet_inverted.png) no-repeat 14px 5px;
                    padding-left: 60px;
                    &:hover {
                        background: lighten(#1d1d1d, 10%) url(../img/helmet_inverted_hover.png) no-repeat 14px 5px;
                    }
                }
                &:last-child {
                    a {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

#map-canvas {
    width: 100%;
    height: 650px;
    img {
        // These are necessary to undo some of the styling in the British
        // Museum's mobile stylesheets
        display: inline;
        max-width: none;
    }
}

.map-marker {
    .map-marker__header,
    .map-marker__elements-header,
    .map-marker__etymology,
    .map-marker__etymology,
    .map-marker__elements__item,
    .map-marker__social-header {
        color: #333;
    }

    .map-marker__elements__item {
        .map-marker__elements__item__headword,
        .map-marker__elements__item__hword {
            font-weight: bold;
        }
    }

    .map-marker__social-buttons {
        li {
            display: inline;
            margin-right: 16px;
            width: 37px;
            height: 37px;
            img {
                width: 37px;
                height: 37px;
            }
        }
    }
}
